.virtual-piano {
    /* border: 2px solid #333; */
    background: white;
}
  
.white-key {
    fill: white;
    stroke: #333;
    stroke-width: 1;
    cursor: pointer;
}
  
.white-key:hover {
    fill: #f5f5f5;
}
  
.white-key.active {
    fill: #E04040;
}
  
.black-key {
    fill: black;
    stroke: #333;
    stroke-width: 1;
    cursor: pointer;
}
  
.black-key:hover {
    fill: #333;
}
  
.black-key.active {
    fill: #E04040;
}

.white-key.secondary {
    fill: #c0c0c0;
}

.black-key.secondary {
    fill: #888;
}

.white-key.active.secondary {
    fill: #b02828;
}

.black-key.active.secondary {
    fill: #b02828;
}